.input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input input {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background-color: var(--c-light);
  color: var(--c-dark);
}

.input input::placeholder {
  font-size: 0.8rem;
  color: var(--c-grey2);
}

.input input:focus {
  outline: 2px solid var(--c-accent-hover);
}

.input i {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: var(--c-grey3);
  cursor: pointer;
  transition: 0.2s ease;
}

.input i:hover {
  color: var(--c-accent-hover);
}

.strength {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--c-grey1);
  letter-spacing: 0.04rem;
}

.strength.weak {
  color: var(--c-accent-hover);
}

.strength.medium {
  color: var(--c-medium);
}

.strength.strong {
  color: var(--c-strong);
}
